* {
    box-sizing: border-box;
}
h1 {
    font-family: monospace;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    text-align: center;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    position: relative;
}
.grid {
    display: flex;
    height: 900px;
    width: 900px;
    flex-wrap: wrap;

    z-index: -20;
background-image: url("./images/space.jpg");
background-size:cover;}

.cell {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.score {
    font-size: 2rem;
    position: absolute;
padding-left: 5%;
    color:aquamarine;

    font-family: monospace;
}

.putin {
    background-image:url('./images/putin.png');
    z-index: 15;
}

.coronas {
    background-image: url("./images/corVirus.png");
    z-index: 10;
}

.xi-Jinping {
    background-image: url("./images/xi-Jinping.png");
    z-index: 10;
}

.trump {
    background-image: url("./images/trump.png");
    z-index: 10;
}

.merkel {
    background-image: url("./images/merkel.png");
    z-index: 10;
}

.harry {
    background-image: url("./images/harry.png");
    z-index: 10;
    background-size:cover;
}

.pope {
    background-image: url("./images/pope.png");
    z-index: 10;
   
}

.musk {
    background-image: url("./images/musk.png");
    z-index: 10;
   
}

.macron {
    background-image: url("./images/macron.png");
    z-index: 10;
   
}

.kim {
    background-image: url("./images/kimJongUn.png");
    z-index: 10;
   
}

.erdogan {
    background-image: url("./images/erdogan.png");
    z-index: 10;
   
}

.boris {
    background-image: url("./images/boris.png");
    z-index: 10;
   
}

.explosion {
    background-image: url("./images/gif-explosion-11.gif");
    z-index: 20;
}


.youWin {
    color:chartreuse;
font-family:monospace;
font-size: 100px;
font-weight: bold;
}


.bulletsCount {
    font-family: monospace;
    color: rgb(249, 58, 58);
    font-size: 2rem;
    position:absolute;
 padding-left: 5%;
    bottom: 30px;
    font-weight: bolder;
}



.putinDance {
  width: 200px;
}

.winMacron {
    width: 300px;
z-index: 20;
}

.start {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color:darkolivegreen;
    font-weight: bold;
    font-family: monospace;
    color:aliceblue;
    z-index: 35;
}



body {
    background-image: url("./images/desert2\ .jpg");
    background-size:cover;
}

.background2 {
        background-image: url("./images/background3.jpg");
        background-size:cover;
    }

    .background3 {
        background-image: url("./images/background4.jpg");
        background-size:cover;
    }

    .reset {
    
        padding: 10px 20px;
        font-size: 1.5rem;
        background-color:cadetblue;
        font-weight: bold;
        font-family: monospace;
        color:darkorchid;
        z-index: 35;
    }

    .crown {
        width: 100px;
    }

    .popup {
        position:absolute;
        width: 500px;
        height: 570px;
        left: calc(50% - 500px / 2);
        top: calc(50% - 570px / 2);
        flex-direction: column;
        display: flex;
        justify-content:space-around;
        align-items:center 
    }

    .start-popup {
        background-size: cover;
        background-image: url("./images/blueDegrade2.jpg");
    }

    .startCrown {
        width: 170px;
 
    }

    .startTitle {
        font-family:fantasy;
        font-size: 4rem;
        text-align: center;
        margin:0;
        color:rgb(200, 123, 155);
    }

    .gameOver {
        color: blueviolet;
        font-family:monospace;
        font-size: 80px;
        z-index: 30;
        }
    
    .hidden {
        display: none;
    }