* {
    box-sizing: border-box;
}
h1 {
    margin-left: 420px;
    font-family: monospace;
    font-size: 2rem;;
    color:darkblue;
}


.grid {
    display: flex;
    height: 900px;
    width: 900px;
    flex-wrap: wrap;
    margin-left: 200px;
    z-index: -20;
background-image: url("./images/space.jpg");
background-size:cover;}

.cell {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.score {
    font-size: 2rem;
    position: absolute;
    margin-left: 240px;
    color:aquamarine;
    margin-top: 90px;
    font-family: monospace;
}

.putin {
    background-image:url('./images/putin.png');
    z-index: 15;
}

.coronas {
    background-image: url("./images/corVirus.png");
    z-index: 10;
}

.xi-Jinping {
    background-image: url("./images/xi-Jinping.png");
    z-index: 10;
}

.trump {
    background-image: url("./images/trump.png");
    z-index: 10;
}

.merkel {
    background-image: url("./images/merkel.png");
    z-index: 10;
}

.harry {
    background-image: url("./images/harry.png");
    z-index: 10;
    background-size:cover;
}

.pope {
    background-image: url("./images/pope.png");
    z-index: 10;
   
}

.musk {
    background-image: url("./images/musk.png");
    z-index: 10;
   
}

.macron {
    background-image: url("./images/macron.png");
    z-index: 10;
   
}

.kim {
    background-image: url("./images/kimJongUn.png");
    z-index: 10;
   
}

.erdogan {
    background-image: url("./images/erdogan.png");
    z-index: 10;
   
}

.boris {
    background-image: url("./images/boris.png");
    z-index: 10;
   
}

.explosion {
    background-image: url("./images/gif-explosion-11.gif");
    z-index: 20;
}

.noClass{
    position: absolute;
    left: -400px;
    z-index: -32;
    width: 10px;

}


.noClass2 {
    position: absolute;
    left: -400px;
    z-index: -32;
    width: 10px;

}

.nothing {
    color: black;
    font-family:monospace;
    font-size: 120px;
    position: absolute;
    margin-top: 370px;
    margin-left: 290px;
    z-index: -30;}

    .nothingWin {
        color: black;
        font-family:monospace;
        font-size: 120px;
        position: absolute;
        margin-top: 370px;
        margin-left: 290px;
        z-index: -30;}

.gameOver {
color: blueviolet;
font-family:monospace;
font-size: 120px;
position: absolute;
margin-top: 370px;
margin-left: 290px;
z-index: 30;
}

.win {
    color:chartreuse;
font-family:monospace;
font-size: 120px;
position: absolute;
margin-top: 470px;
margin-left: 370px;
z-index: 30;
}


.bulletsCount {
    font-family: monospace;
    color: rgb(249, 58, 58);
    font-size: 2rem;
    position:absolute;
    left: 260px;
    top: 930px;
    font-weight: bolder;
}



.winDance {
width: 200px; 
position: absolute;
    margin-left: 960px;
    margin-top: -750px;
    z-index: 31;
}

.winMacron {
    position: absolute;
    width: 300px;
    margin-left: 540px;
top:  200px;
z-index: 20;
}

